<Layouts.app flash={@flash} current_scope={@current_scope}>
  <div class="mx-auto max-w-4xl text-zinc-800">
    
    <div class="text-center mb-6">
      <h1 class="text-3xl font-bold text-zinc-900 dark:text-zinc-100">Meu Ponto</h1>
    </div>

    <.mode_selector mode={@mode} />

    <%= if @mode == :registrar do %>
      <.clock_in_grid />
    <% end %>

    <%= if @mode == :historico do %>
      <.history_table clock_ins={@clock_ins} />
    <% end %>

  </div>
</Layouts.app>