<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Pontodigital" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
    <script>
      (() => {
        const setTheme = (theme) => {
          let resolvedTheme = theme;
          
          if (theme === "system") {
            localStorage.removeItem("phx:theme");
            resolvedTheme = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
          } else {
            localStorage.setItem("phx:theme", theme);
          }
          
          // Estado de renderizacao CSS
          document.documentElement.setAttribute("data-theme", resolvedTheme);
          // Estado de controle do componente UI
          document.documentElement.setAttribute("data-theme-control", theme);
        };

        if (!document.documentElement.hasAttribute("data-theme-control")) {
          setTheme(localStorage.getItem("phx:theme") || "system");
        }

        window.addEventListener("storage", (e) => {
          if (e.key === "phx:theme") setTheme(e.newValue || "system");
        });
        
        window.addEventListener("phx:set-theme", (e) => {
          const btn = e.target.closest('[data-phx-theme]');
          if (btn) setTheme(btn.dataset.phxTheme);
        });

        window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", () => {
          if (!localStorage.getItem("phx:theme")) {
            setTheme("system");
          }
        });
      })();
    </script>
  </head>
<body>
  <nav class="relative z-10 flex w-full items-center justify-end gap-4 px-4 sm:px-6 lg:px-8 py-2">
    <div class="hidden sm:block">
      <PontodigitalWeb.Layouts.theme_toggle />
    </div>

    <ul class="menu menu-horizontal flex items-center gap-2 p-0">
      <%= if @current_scope do %>
        <li>
          {@current_scope.user.email}
        </li>
        <li>
          <.link href={~p"/users/settings"}>Configurações</.link>
        </li>
        <li>
          <.link href={~p"/users/log-out"} method="delete">Sair</.link>
        </li>
      <% else %>
        <li>
          <.link href={~p"/users/log-in"}>Entrar</.link>
        </li>
      <% end %>
    </ul>
  </nav>
  
  {@inner_content}
</body>
</html>