<.header>
  Caixa de Entrada
  <:subtitle>Gerencie as solicitações e comunicados dos funcionários.</:subtitle>
</.header>

<div class="mt-8">
 <InboxComponents.messages_table messages={@streams.messages} />
</div>