<div class="mx-auto max-w-3xl">
  <PontodigitalWeb.AdminLive.InboxLive.InboxComponents.back_link />

  <PontodigitalWeb.AdminLive.InboxLive.InboxComponents.message_header 
    message={@message} 
  />

  <PontodigitalWeb.AdminLive.InboxLive.InboxComponents.message_details_card 
    message={@message} 
  />
</div>